@use 'variables' as *;

.board {
  margin: 0 auto;
  width: 80vh;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(3, auto);

  & .cell {
    height: $cell-size;
    border: $border-width solid $color-border;
    cursor: pointer;
    position: relative;

  }

  & :nth-child(-n+3) {
    /* representa los primeros tres elementos */
    border-top: none;
  }

  & :nth-child(3n + 1) {
    //* El & se usa para referirse a la clase anterior, en este caso .cell */
    border-left: none;
  }

  & :nth-child(3n) {
    border-right: none;
  }

  & :nth-last-child(-n+3) {
    border-bottom: none;
  }
}


.circle::after,
.board.circle-plays .cell:not(.cross):not(.circle):hover::after {
  content: '';
  width: $mark-size;
  height: $mark-size;
  border-radius: 50%;
  border: $mark-border;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.board.circle-plays .cell:not(.cross):not(.circle):hover::after {
  border: $mark-border-hover;
}

.cross::after,
.cross::before,
.board.cross-plays .cell:not(.cross):not(.circle):hover::after, 
.board.cross-plays .cell:not(.cross):not(.circle):hover::before {
  content: '';
  width: 0;
  height: calc($mark-size * 1.25);
  border-left: $mark-border;

  position: absolute;
  top: 50%;
  left: 50%;
}


.cross::after,
.board.cross-plays .cell:not(.cross):not(.circle):hover::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.cross::before,
.board.cross-plays .cell:not(.cross):not(.circle):hover::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.board.cross-plays .cell:not(.cross):not(.circle):hover::after,
.board.cross-plays .cell:not(.cross):not(.circle):hover::before {
  border-left: $mark-border-hover;
}