$color-border: black;
$color-mark: black;
$color-mark-hover: rgba(0, 0, 0, .1);

$cell-size: 100%;
$mark-size: 70%;
$mark-border: .5rem solid $color-mark;
$mark-border-hover: .5rem solid $color-mark-hover;

$border-width: 0.3rem;