@use 'variables' as *;


 dialog {
  font-size: $lg-text;
  text-shadow: $shadow-text;

  padding: 2rem;
  background: $color-secondary-lighter;
  color:$color-letra-toast;
  border-radius: $corner-elements;
  border-width: 0px;
}

dialog::backdrop {
  /* background-color: rgba(0, 0, 0, 0.75); */
  backdrop-filter: blur(5px) grayscale(50%);
}

.container {
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  border-radius: $corner-elements;
  background-color: white;

  width: 50%;

  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;

  box-shadow: 0px 2rem 0px -5px $color-secondary;

  & .scores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;

      & .score {
        font-size: $md-text;
      }
      & .score-crosses {
        color: $color-cross;
      }
      & .score-circles {
        color: $color-circle;
      }

    
  }
}