$color-border: black;
$color-mark: black;
$color-mark-hover: gray;

$cell-size: 100%;
$mark-size: 70%;
$mark-border: .5rem solid $color-mark;

$border-width: 0.3rem;
*, 
*::after, 
*::before{
  box-sizing: border-box;
}

.board {
  margin: 0 auto;
  width: 80vh;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(3, auto);
  .cell {
    height: $cell-size;
    border: $border-width solid $color-border;
    cursor: pointer;
    position: relative;    
    
  }

  & :nth-child(-n+3){ /* representa los primeros tres elementos */
    border-top: none;
  }

  & :nth-child(3n + 1) { //* El & se usa para referirse a la clase anterior, en este caso .cell */
    border-left: none;
  }
  & :nth-child(3n) {
    border-right: none;
  }

  & :nth-last-child(-n+3){
    border-bottom: none;
  }
}

.circle::after {
  content: '';
  width: $mark-size;
  height: $mark-size;
  border-radius: 50%;
  border: $mark-border;

  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.cross::after,
.cross::before {
  content: '';
  width: 0;
  height: calc($mark-size * 1.25);
  border-left: $mark-border;

  position: absolute;
  top: 50%; 
  left: 50%;
}
.cross::after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.cross::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
